#Stylesheet

body{
  margin: 0;
  border: 0;
}

header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

header .logo{
  color: MediumAquaMarine;
  display: flex;
  align-items: center;
  flex-basis: 400px;
  border: 1 solid black;
}

header nav{display: inline-block;
  flex-basis: 400px;
}

header a{
  color: black;
}

.column{
  display: flex;
  display: inline-block;
  border: 1 solid black;
}

.column.large{
  width: 630px;
  display: flex;
  border: 1px solid black;
  display: block;
  border: 1 solid black;
}

.column.medium{
  width: 300px;
  display: flex;
  border: 1px solid black;
  display: block;
  border: 1 solid black;
}

.column.small{
  width: 240px;
  display: flex;
  border: 1px solid black;
  display: block;
  border: 1 solid black;
}

.headline{
  border: 1px solid black;
}
