#Stylesheet

body{
  margin: 0;
  border: 0;
}

header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

header span{
  color: MediumAquaMarine;
}

header li{
  display: inline-block;
}
